
.footer {
    display: flex;
    justify-content: center;
    padding-top: 72px;
}

.link {
    text-decoration: none;
    color: #6771d1;
    transition: color .7s;
}

.link:hover {
    color: #fa656a;
    transition: all .7s;
    
}

.link:active {
    color: #fc3c40;
    transition: all 0s;
}

