
.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 48px 0;
}

.custom {
    height: 34px;
    border: 1px solid #989de0;
    border-radius: 5px;
    background: #eee;
    padding-left: 5px;
}

@media screen and (max-width: 550px) {
    .form {
        margin: 24px 0;
    }
}

